name: Build FAP

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    
    - name: Build with ufbt
      uses: flipperdevices/flipperzero-ufbt-action@v0.1.3
      id: build-app
      with:
        sdk-channel: release
    
    - name: Upload app artifacts
      uses: actions/upload-artifact@v3
      with:
        name: ble_spam_custom-fap
        path: ${{ steps.build-app.outputs.fap-artifacts }}
